/* ==========================================================================
   #GLOBAL
   ========================================================================== */

// Standardise some UI treatments.

$global-radius: 3px;
$global-transition: all 300ms ease-in-out;


// Typography

$base-font-family:      'Source Sans Pro', Helvetica, Arial, sans-serif;
$extra-light:           200;
$light:                 300;
$regular:               400;
$semi-bold:             600;
$bold:                  700;
$black:                 900;
