/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
* This is an example component. Extend inuitcss by building your own components
* that make up your UI. Component classes are prefixed with a `c-`.
*/

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $unit-small $unit;
  transition: $global-transition;
  border-radius: $global-radius;
}




/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-btn-primary-background;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-btn-primary;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-primary-hover;
  }

}

.c-btn--secondary {
  background-color: $color-btn-secondary-background;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-btn-secondary;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-secondary-hover;
  }

}





/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $unit-tiny $unit-small;
}

.c-btn--large {
  padding: $unit $unit-large;
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  box-shadow: inset 0 0 0 $btn-ghost-border-width currentColor;

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

    &.c-btn--primary {
      color: $color-btn-primary-background;

      &:hover,
      &:focus {
        color: $color-btn-primary-hover;
      }

    }

    &.c-btn--secondary {
      color: $color-btn-secondary-background;

      &:hover,
      &:focus {
        color: $color-btn-secondary-hover;
      }

    }

}
